.theme__light .site-header__title--shadow {
	color: #607d8b;
	text-shadow: none;
}

.theme__light .terms__title {
	color: #607d8b;
	text-shadow: none;
}

.hr-slash {
	width: 100%;
	height: 7px;
	background-size: 0px;
}

.bio__photo {
	-webkit-box-shadow: 0px;
	-moz-box-shadow: 0px;
	box-shadow: 0px;
}
